/* -----------------------------------  Global Settings */

@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap:100,200,300,400,500,600,700|Roboto+Mono:300&display=swap:100,200,300,400,500,600,700|');




body {
    margin: 0;
    padding: 0;
    
    font-size: 1.1rem;
    font-weight: 400;
}

.tourfont {
 font-family: 'Roboto Mono', monospace;
 }

/* body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.05em;
    line-height: 1.5;
}
*/

 a {
    color: inherit;
}


/*--------------------------------------  Header */

.mynav {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}
/* -------------    Hover Underline Navbar --------*/

.underline {
    transition-property: underline;
}

.underline:hover{
    text-decoration: underline;
} 





/* -----------------------   index.html section */


/*

.quote {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#jumbo {
    background-image: url();
}


*/

.call-to-action {
    min-height: 300px;
}




/* -----------------------   Footer */

.footer-div {
    min-height: 250px;
}

/*-----------------------  Icons */

.icons {
    font-size: 60px;
    padding: 2%;
}




.red-pointer:hover {
   color:red !important;
   transition: all 0.3s ease-in-out;
}
.red-pointer-o:hover {
   color:red !important;
}


#jumbo {
    background-image: url(wildthings2.jpg);
    background-size: 50%;
}

.cross {
    color: black;
}



/*----------------------- VideoRules */


.iframe-container{
  position: relative;
  width: 90%;
  padding-bottom: 60%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  margin-left: 10%;
  margin-right: 20%;
  margin-top: 5%;
  padding: 0;
  width: 80%;
  height: 80%;
}




/* ----------------------  Live */







.event-date {
    font-size: 25px;
    background-color: #eae9e4;
}