@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap:100,200,300,400,500,600,700|Roboto+Mono:300&display=swap:100,200,300,400,500,600,700');


/*--------------------------------------  Header */

p {
    color: red;
}

div {

    min-height: 200px;
}

span {
    font-size: 20px;
}


.font {
    font-family: 'Roboto Mono', monospace;
}

.font2 {
    font-family: 'Bebas Neue', cursive;
}